.steps {
  display:flex;
  gap:4rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;

}
/*
.steps::after{
  content: "";
  width: 380px;
  border-bottom: 1px solid #ccc;
  position:absolute;
  top: 20px;
  
}*/

.step{
  text-align: center;
  background-color: #fff;
  z-index:1;
  width:120px;
  padding: 0.5rem;
}
.step svg{
  font-size: 1.6rem;
  margin:0.2rem;


}
.active {
  font-weight:bold;


}
.line-1{
  width: 80px;
  height: 3px; 
  border-bottom: 1px solid #ccc;
  position:absolute;
  top: 30px;
  right:230px;

}
.line-2{
  width: 80px;
  height: 3px; 
  border-bottom: 1px solid #ccc;
  position:absolute;
  top: 30px;
  right:70px;

}
.active p{
  color:#7076f4;
}
.active > svg   {
  fill: #7076f4;
}
.active > .line-1,.active .line-2{
  background-color:#7076f4;
}